<!DOCTYPE html>
<html>
<head>
  <title>StatusCat</title>
  <%= stylesheet_link_tag    "status-cat/application", :media => "all" %>
  <%= javascript_include_tag "status-cat/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
