.bundle/
log/*.log
pkg/

# Ignore test dummy app transient files
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache

# Ignore RubyMine files
/.idea

# Ignore SimpleCov output
/coverage

# http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/
Gemfile.lock
